body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: linear-gradient(135deg, rgb(21, 5, 8) 0%, rgb(91, 44, 3) 100%);
    text-align: center;
}

.search-container {
    display: flex;
    margin-bottom: 20px;
}

h2{

    color:aliceblue
}
input {
    flex: 1;
    padding: 5px;
}

button {
    padding: 5px 10px;
}


#results {
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
