body {
    min-height: 97%;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(144, 134, 134, 0.7), rgba(100, 98, 98, 0.7)), 
    url( background-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}

html {
    height: 100%;
}

textContent {
    color: white;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-shadow: 0 0 3px #d6c6c6;
    font-size: 40px;
    margin-top: 14px;
}

#search-area {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-container {
    font-size: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

#submit-button,
#colorSelect,
#searchInput {
    font-size: 16px;
    border-radius: 12px; 
    border: none;
    outline: none;
}

#searchInput {
    width: 200px;
    height: 30px;
}

h1:hover {
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

button {
    padding: 5px 10px;
}

#results {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
}

#results :nth-last-child(2) {
    grid-column-end: 3;
}

#results>div {
    flex: 1 0 calc(20% - 30px);
    box-sizing: border-box;
    margin-bottom: 5px;
}

#results img {
    align-items: center;
    max-width: 100%;
    height: auto;
    border: 2px solid #393d49;
    border-radius: 20px;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1px;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 12px 20px;
}

a:hover {
    background-color: #ddd;
    color: black;
}

footer {
    text-align: center;
    margin-bottom: 30px;
}

.prev,
.next {
    text-decoration: none;
    background-color: #f1f1f1;
    color: #333;
    border: 1px solid #ccc;
    margin: 0 5px;
    border-radius: 12px; 
    border: none;
    outline: none;
    margin-bottom: 20px;   
}

p {
    color: white;
    font-style: serif;
    font-weight: bold
}

.message-container p {
    color: #FF0000;
}

.message-container p {
    margin: 0;
}

#results>div:not(:has(.enlarged-image)):hover {
    transform: scale(1.02) rotate(1deg);
        transition: 200ms;
}

@media (max-width: 1369px) {
    #results {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #results :nth-last-child(2) {
        grid-column-end: auto;
    }

    #results :last-child:nth-child(3n - 2) {
        grid-column-end: 3;

    }
}

@media (max-width: 1100px) {
    #results {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 700px) {
    #results {
        display: grid;
        grid-template-columns: 1fr;
    }

    #results :last-child:nth-child(3n - 2) {
        grid-column-end: auto;
    }
}

@media (max-width: 480px) {
    #results {
        display: grid;
        grid-template-columns: 1fr;
    }

    .search-container {
        display: grid;
        grid-template-columns: auto;
    }

    .prev {
        margin-bottom: 10px;
    }
}