/* disable next and previous buttons */
/* check bugs */

body {
    min-height: 97%;
    margin: 10px;
    font-family: Arial, sans-serif;
    /* background: linear-gradient(135deg, rgb(0, 0, 0) 0%, rgb(78, 64, 52) 100%); */
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: black;

}

html {
    height: 100%;
}

textContent {
    color: white;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-shadow: 0 0 3px #FF0000;
    font-size: 40px;
    margin-top: 14px;
}

.search-container {
    font-size: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    /* margin-bottom: 500px; */
}

#submit-button,
#colorSelect,
#searchInput {
    font-size: 20px;
}

#searchInput {
    width: 200px;
    height: 30px;
}

h1:hover {
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

button {
    padding: 5px 10px;
}

#results {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    margin: 30px;

}

#results > div {
    flex: 1 0 calc(20% - 30px); /* Adjust width based on the number of items and gap */
    box-sizing: border-box;
    margin-bottom: 5px;
}


#results img {
    align-items: center;
    max-width: 100%;
    height: auto;
    border: 2px solid #393d49;
}

#results img:nth-last-child(2),
#results img:nth-last-child(1) {
    grid-column: span 2;
    /* Center the last two images by spanning two columns */
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1px;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 12px 20px;
}

a:hover {
    background-color: #ddd;
    color: black;
}

footer {
    text-align: center;

    margin-bottom: 30px;
}

.prev, .next {
    text-decoration: none;
    background-color: #f1f1f1;
    color: #333;
    border: 1px solid #ccc;
    margin: 0 5px;
}

.disabled {
    color: #999; /* Change the color to grey */
    pointer-events: none; /* Disable pointer events */
    cursor: default; /* Set cursor to default */
}
  

p {
    color: white;
    font-style: serif;
    font-weight: bold
}

@media (max-width: 1420px) {
    #results {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 1300px) {
    #results {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 969px) {
    #results {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 669px) {
    #results {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 469px) {
    #results {
        display: grid;
        grid-template-columns: 1fr;
    }
    .search-container {
        display: grid;
        grid-template-columns: auto;
    }
    .prev {
        margin-bottom: 10px;
    }
}